.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

  .container {
    flex: "1";
    background-color: "#000000";
    padding-top: 20;
    padding-bottom: 50;
    /* padding-horizontal: 15; */
  };
  container-center {
    background-color: "#000000";
    flex: "1";
    align-items: "center";
    justify-content: "center";
  };
  textWhite {
    color: "#ffffff";
  };
  textLg {
    font-size: 18;
  };
  card {
    background-color: "#212121";
    border-radius: 30;
    /* paddingVertical: 15;
    padding-horizontal: 40; */
  };
  cardHeadingContainer {
    display: "flex";
    flex-direction: "row";
    align-items: "center";
    justify-content: "space-between";
  };
  cardHeading {
    font-size: 26;
    color: "#ffffff";
  };
  cardTimeStamp {
    font-size: 20;
    color: "#ffffff";
  };
  heading {
    color: "#ffffffff";
    font-size: 22;
    font-weight: "bold";
  };
  workoutRepsContainer {
    display: "flex";
    flex-direction: "row";
    margin-top: 15;
  };
  exerciseCard {
    background-color: "#212121";
    border-radius: 15;
    min-height: 100;
    /* padding-vertical: 15;
    padding-horizontal: 20; */
    margin-bottom: 30;
  };
  input {
    width: 300;
    border-width: 2;
    border-color: "#ffffff";
    /* padding-vertical: 15;
    padding-horizontal: 8; */
    border-radius: 15;
  };
  label {
    color: "#ffffff";
    margin-bottom: 8;
  };
